@import "../../globalVariables.scss";
.wrapper {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: $card-color;
  justify-self: center;
  border-radius: 10px;
  cursor: pointer;
  & > Button:first-of-type {
    position: absolute;
    right: 3px;
    top: 3px;
  }
  & > Button:nth-of-type(2) {
    position: absolute;
    right: 3px;
    bottom: 3px;
  }
  &:hover > .categoryMark {
    background-color: rgb(255, 0, 0);
  }
}

.categoryMark {
  position: absolute;
  width: 104%;
  height: 106%;
  left: -2%;
  bottom: -3%;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
}

@media (max-width: 768px) {
  .wrapper {
    width: 95%;
  }
  .categoryMark {
    width: 100px;
    height: 100px;
  }
}
